@model IEnumerable<ProjetoCidades.Models.Cidade>
<div>
    <h2>Todos os dados</h2>
    <table>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Estado</th>
            <th>Habitantes</th>
        </tr>
    </table>
    @{
        foreach(var item in Model){
            <li>@item.Nome - @item.Estado - @item.Habitantes</li>
        }
    }
</div>